<nav class="navbar navbar-expand-lg navbar-dark">
  <img
    src="/logo.PNG"
    alt="logo"
    width="100px"
    style="
                margin-top: 10px;
                border-radius: 20px;
                align-items: baseline;
              "
    id="T_logo"
  />
  <div class="container-fluid">
    {{#if user}}
    <a class="navbar-brand" href="/cleark" onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'">Dashboard</a>
    {{else}}
    <a class="navbar-brand" href="/" onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'">Home</a>
    {{/if}}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px;"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/on-the-menu"
            onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'"
          >On-The-Menu</a>
        </li>
      {{#if user}}
        <li class="nav-item justify-content-between">
          <a class="nav-link" href="/logout" onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'">Logout</a>
        </li>
        {{#if isCleark}}
         <li class="nav-item justify-content-between">
         <pre>                    User:<b style="font-size: larger;"> {{user.firstName}} {{user.lastName}} (Cleark)</b>            </pre>
         </li>
        {{else}}
          <li class="nav-item justify-content-between">
          <pre>                    User:<b style="font-size: larger;"> {{user.firstName}} {{user.lastName}} (Customer)</b>            </pre>
          </li>
        {{/if}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login" onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'">Login</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="/Sign-up" onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'">Sign-up</a>
        </li>
      {{/if}}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            onmouseover="this.style.color=' greenyellow'" onmouseout="this.style.color=' white'"
          >
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            {{#if user}}
            <li><a class="dropdown-item" href="/">Home</a></li>
            {{/if}}
            <li><a class="dropdown-item" href="#Cuisines">Cuisines</a></li>
            <li><a class="dropdown-item" href="#Cuisines">Cuisines</a></li>
            <li><a class="dropdown-item" href="#Top-meals">Top-meals</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#ring">contact</a></li>
          </ul>
        </li>
      </ul>
      {{#unless user}}
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {{/unless}}
    </div>
  </div>
</nav>