<div class="container" style="font-size: x-large;">

  <form method="post" action="/login">
    <fieldset>
      <legend>
        <br /><br />
        <h1 style="text-align: center;color: yellow;">Welcome Back</h1>
        <br /><br /><hr />
      </legend>

      {{#each error}}
        <span
          style="color:rgb(226, 42, 42);font-size: large;font-weight: 600;"
        >{{this}}</span><br />
      {{/each}}

      <div class="mb-3">
        Email address
        <br />
        <input
          type="text"
          name="email"
          id="email"
          value="{{set.email}}"
        /><br />
        {{#if val.email}}
          <span
            style="color:rgb(226, 42, 42);font-size: large;font-weight: 600;"
          >{{val.email}}</span><br />
        {{/if}}
      </div>
      <div class="mb-3">
        Password
        <br />
        <input type="password" name="Password" id="Password" value="{{set.Password}}" /><br
        />
        {{#if val.Password}}
          <span
            style="color:rgb(226, 42, 42);font-size: large;font-weight: 600;"
          >{{val.Password}}</span><br />
        {{/if}}
      </div>
      
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="Operator"
          id="flexRadioDefault1"
          value="Cleark"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Cleark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="Operator"
          id="flexRadioDefault2"
          value="Customer"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Customer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        </label>
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-dark"
          style="background-color: orangered;border-radius: 30px;"
        >Log in
        </button>
      </div>
    </fieldset>
  </form>
  <br /><br />
  <div style="color:yellowgreen;">
    <p>Don't have an account?
      <a href="/Sign-up" style="text-decoration: none;">Sign up</a>.</p>
  </div>
  <br /><br /><hr />
</div>