
{{>hero}}
{{#each m_meal}}
<br><br><br>
    <h1 style="font-size: xx-large;text-align: center;color: yellow;">{{this.design}}</h1>
    <h5 style="text-align: center;color: yellow;">Eat More &#38; Enjoy More</h5>
    <h4 style="color: green;text-align: center;">Hover/Click On Images For More Details</h4><br><br>
<div class="container">
<div class="row row-cols-2">
  {{#each array}}
<div class="col">
    <div class="card" style="width: 18rem;display: flex;margin:auto;background-color: transparent">
  <img src={{this.Image_url}} class="card-img-top" alt="..." style="border-radius: 50%;">
  <div class="card-body">
    <h5 class="card-title" style="color: yellow;font-size: x-large;">{{this.Title}}</h5>
    <p class="card-text" style="color: white;">{{this.Description}}</p>
    <table class="nn" style="color: greenyellow;">
        <tr><th>Price</th><td> &nbsp;&nbsp;&nbsp; </td><td>{{this.Price}}</td></tr>
        <tr><th>CookTime</th><td> &nbsp;&nbsp;&nbsp; </td><td>{{this.CookTime}}</td></tr>
        <tr><th>Servings</th><td> &nbsp;&nbsp;&nbsp; </td><td> {{this.Servings}}</td></tr>
        <tr><th>Calory</th><td> &nbsp;&nbsp;&nbsp; </td><td>{{this.Calory}}</td></tr>
      </table>
   </div></div></div>
  {{/each}}
  </div>
  </div>
{{/each }}
<br><br>


<div class="container" id="Top-meals">
  <br /><br /><br />
  <h1>Top Meals of the Day!</h1><br />
  <h5 style="color: green;">Hover On Images For More Details</h5>
  <br />
    <div class="row cols-3">
  {{#each c_meal}}
      <div class="col">
        <div class="grid2-item"><img
            src={{this.Image_url}}
            alt="Top Meal 1"
          /></div>
        <h3 style="color:greenyellow;">{{this.Title}}</h3>
        <br>
        <table class="nn" style="color: white;">
          <tr><th>Price</th><td> &nbsp;&nbsp;&nbsp; </td><td> {{this.Price}}</td></tr>
          <tr><th>CookTime</th><td> &nbsp;&nbsp;&nbsp; </td><td> {{this.CookTime}}</td></tr>
          <tr><th>Servings</th><td> &nbsp;&nbsp;&nbsp; </td><td> {{this.Servings}}</td></tr>
          <tr><th>Calorie</th><td> &nbsp;&nbsp;&nbsp; </td><td> {{this.Calory}}</td></tr>
        </table>
      </div>
  {{/each}}
    </div>
</div>
<br><br><br>